<launch>
 
  <!-- The marker visualizer node -->
  <node name="raytracer_node" type="raytracer.py" pkg="raytracer_pkg" output="screen">
  </node>

  <!--launch rviz-->
  <node type="rviz" name="rviz" pkg="rviz" respawn="false" args="-d $(find raytracer_pkg)/rviz_config/raytracing.rviz"/>

  <!--launch recongifuration gui -->
  <node pkg="rqt_reconfigure" type ="rqt_reconfigure" name="rqt_reconfigure">
  </node>
  
</launch>
